<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.z3dd.conjugo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ConjugationPracticeActivity"
            android:label="New Home Page"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VerbListActivity"
            android:label="Verb List"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditVerbActivity"
            android:parentActivityName=".VerbListActivity" />
        <activity
            android:name=".AddAVerbActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FullVerbDetailActivity"
            android:label="@string/title_activity_full_verb_detail"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
